<template>
<v-carousel>
    <v-carousel-item
      v-for="(item,i) in items"
      :key="i"
      :src="item.src"
    ><h3 style="color: white; margin-top: 100px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum praesentium excepturi obcaecati tempora 
        nostrum? Ipsa enim cum pariatur necessitatibus dolorum, voluptas possimus 
        facilis totam quam assumenda at veritatis vel! Voluptates.</h3></v-carousel-item>
  </v-carousel> 
  
  
  
</template>
<script>
  export default {
    data () {
      return {
          users: [{ name: 'sajadweb',email:'sajadweb@outlook.com' }] ,
        items: [
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg'
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg'
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg'
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg'
          }
        ]
      }
    },
     methods: {
    addUser: function () {
      this.users.push({ name: '',email:'' });
    },
    deleteUser: function (index) {
      console.log(index);
      console.log(this.finds);
      this.users.splice(index, 1);
      if(index===0)
      this.addUser()
  }
  }}
</script>