<template>
  <v-toolbar class=" xs-2 ">
    
    <v-toolbar-title>Title</v-toolbar-title>
    <v-spacer></v-spacer>
                                          <v-btn flat>connexion</v-btn>
      <v-btn flat>inscription</v-btn>
      <v-btn flat>Link Three</v-btn>
      <v-menu offset-y>
      
        <v-btn
        flat
          slot="activator"
          v-on="on"
        >
          Dropdown
        </v-btn>
      
      <v-list>
        <v-list-tile
          v-for="(item, index) in items"
          :key="index"
          @click="">
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile>
      </v-list>

    </v-menu>
     <v-btn color="success">connexion</v-btn>
    </v-toolbar-items>
  </v-toolbar>
 
</template>
<script>
  export default {
    data: () => ({
      items: [
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me 2' }
      ],
     
    })
  }
</script>
<style>
.gradient{
  background-image: linear-gradient(to right,#c0c0aa,#1cefff)

}


</style>
