<template>

  
  <div id="app">
    
    <!-- <h1>Add user</h1>
  <div  v-for="(user,index) in users" :key="index">
    <input v-model="user.name">
    <input v-model="user.email">
    <button @click="deleteUser(index)">
      delete
    </button>
  </div> -->
  
  <!-- <button @click="addUser">
    New User
  </button> -->
  <div>
    <p>
     <label for="title">title</label>
     <input id="title" v-model="survey.title" type="text"/>
    </p>
    <p>
     <label for="description">description</label>
     <input id="description" v-model="survey.descripion" type="text"/>
    </p>
    <div v-for="(question, index) in survey.content.questions">
         <label for="message">Message</label>
         <input v-model="question.message">
         <label for="message">type</label>
         <input v-model="question.type">
         <div v-for="(reponse, ind) in question.reponses" >
              <label for="label">label</label>
              <input v-model="reponse.label">
         </div>
         <button v-on:click="addAnswer(question)" >add answer</button>
    </div>
     <button v-on:click="addUser('survey.questions')">user</button>

     

  </div>
  
     <v-app>
      <freeCompo></freeCompo>
      <caroussel></caroussel>
      <!-- <jumbotron></jumbotron> -->
      <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
           <v-flex v-for="i in 3" :key= "`4${i}`" xs4 class="blue-grey lighten-5">
              <v-hover>
               <v-card  class="mx-auto px-2 blue-grey lighten-5" slot-scope="{ hover }"
      :class="`elevation-${hover ? 12 : 2}`" :height="'300%'">
                 <v-avatar  color="white"><v-icon x-large="true">input</v-icon></v-avatar><br/>
                   <v-container text-xs-center> <strong>INSCRIVEZ VOUS </strong></v-container>
                     
                 </v-card>
             </v-hover>
            </v-flex>
            <divider></divider>
            <divider></divider>

            
        </v-layout>
        
        </v-container>
        
          <v-container>
            <v-layout>
             <v-flex>
                <v-card>
            <v-img
          src="../security.jpg"
          aspect-ratio="2.75"
        ></v-img>

        <v-card-title primary-title>
          <v-container text-xs-center>
            <h3 class="headline mb-0">Securité</h3>
            <div> {{ card_text }} </div>
          </v-container>
        </v-card-title>

        
      </v-card>
             </v-flex>
             </v-layout>
          </v-container>
        <form
  
  @submit="checkForm"
  action="https://vuejs.org/"
  method="post"
>

  <p v-if="errors.length">
    <b>Please correct the following error(s):</b>
    <ul>
      <li v-for="error in errors">{{ error }}</li>
    </ul>
  </p>

  <p>
    <label for="name">Name</label>
    <input
      id="name"
      v-model="name"
      type="text"
      name="name"
    >
  </p>

  <p>
    <label for="age">Age</label>
    <input
      id="age"
      v-model="age"
      type="number"
      name="age"
      min="0"
    >
  </p>

  <p>
    <label for="movie">Favorite Movie</label>
    <select
      id="movie"
      v-model="movie"
      name="movie"
    >
      <option>Star Wars</option>
      <option>Vanilla Sky</option>
      <option>Atomic Blonde</option>
    </select>
  </p>

  <p>
    <input
      type="submit"
      value="Submit"
    >
  </p>

</form>
                  
  <v-divider></v-divider>
        <v-footer class="pa-3">
          <v-container>
        <v-card
      flat
      tile
      class="blue-grey  lighten-5 text-xs-center"
    >
      <v-card-text>
        <v-btn
          v-for="icon in icons" 
          :key="icon"
          class="mx-3 "
          icon
        >
          <v-icon size="24px">{{ icon }}</v-icon>
        </v-btn>
      </v-card-text>

      <v-card-text class="pt-0">
         sed massa consectetur dignissim a sit amet dui. Duis commodo vitae velit et faucibus. Morbi vehicula lacinia malesuada. Nulla placerat augue vel ipsum ultrices, cursus iaculis dui sollicitudin. Vestibulum eu ipsum vel diam elementum tempor vel ut orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </v-card-text>
       
      <v-divider></v-divider>

      <v-card-text class="white--text">
        &copy; {{ new Date().getFullYear() }} — <strong>ATLApp</strong>
      </v-card-text>
    </v-card>
    </v-container>  
      </v-footer>
      
    </v-app>
  </div>

</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import freeCompo  from './components/freeCompo.vue'
import caroussel  from './components/caroussel.vue'
import jumbotron  from './components/jumbotron.vue'
import axios from 'axios'
export default {
  name: 'app',
  components: {
    //HelloWorld,
    freeCompo,
    caroussel,
    jumbotron
  },
  data: () => ({
        
    errors: [],
    name: null,
    age: null,
    movie: null,
      icons: [
        'fab fa-facebook',
        'fab fa-twitter',
        'fab fa-google-plus',
        'fab fa-linkedin',
        'fab fa-instagram'
      ],
      tool:[
        'AfTechLab',
        'AfricanTechLab',
        'AfTechLab',
        'AfTechLab',
        'afro_tech_lab'
      ],
        
      survey:{
        title:"aaaaaaaaa",
        description:"",
              content:{
        questions:[
          {
            message:"",
            type: "",
            reponses:[{
                label: ""
            }]
          }
        ],
      }
      },
      title : "",
      description: "",
      card_text: 'les données  issues de vos sondages sont hautement sécurisées à tous les niveaux',
      users: [{ name: 'sajadweb',email:'sajadweb@outlook.com' }] ,
      quest:[{
            message:"aaaaaa",
            type: "",
            reponses:[{
                label: ""
            }]
            

          }],
        
    }),
      methods:{
    checkForm: function (e) {
      if (this.name && this.age) {
        return true;
      }

      this.errors = [];

      if (!this.name) {
        this.errors.push('Name required.');
      }
      if (!this.age) {
        this.errors.push('Age required.');
      }

      e.preventDefault();
    },
    addUser: function () {
       this.survey.content.questions.push({
            message:"",
            type: "",
            reponses:[{
                label: ""
            }]});
            
            //alert(this.survey.content.questions)
       
      
    },
    addAnswer: function(question){
            question.reponses.push({label: ""});
        },/* .push({message:"aaaaa",
            type: "",
            reponses:[{
                label: ""}]
            })  
       }, */
    deleteUser: function (index) {
      console.log(index);
     // console.log(this.finds);
      this.users.splice(index, 1);
     /*  if(index===0)
      this.addUser()
 */  }
      }
     /* mounted () {
  axios
    .get('http://localhost:8000/api/reponses',{
      headers: {
      'Access-Control-Allow-Origin': '*',
      'Content-Type': 'application/json',
      'accept':'application/json'
    },
    mode:'no-cors',
    
    })
    .then(response => {
  
      this.wholeResponse = response.data.Search
      this.loading = false
      console.log(response)
    })
    .catch(error => {
      console.log(error)
    })
  } */
  
}

</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  
}
.gray{

  background-color: gray;
}
</style>
